body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.login-form{
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(var(--min-padding) * 1.5);
}
.login-form input{
    background: var(--color-background-search);
    padding: .7rem 1rem;
    border-radius: var(--border-radius);
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    /* transition: outline .1s; */
}

.login-form input:focus{
    outline: 0.125rem solid var(--color-primary);
}

.login-form input,
.login-form .btn{
    margin-bottom: calc(var(--padding) - 1%);
}

.goto-signup{
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
}

a{
    color: var(--color-primary);
}

.error{
    outline: 2px solid red;
}

[class*="error-msg"]{
    display: none;
    color: red;
    font-size: .85rem;
    padding-inline: .2rem;
    margin-top: .5rem;
}

.alert{
    background: var(--color-background-search);
    font-size: .9rem;
    font-weight: 500;
    padding-inline: var(--min-padding);
    padding-block: 0.8rem;
    margin-bottom: calc(var(--padding) - 1%);
    border-radius: var(--border-radius);
}


.alert-primary{
    background: #CCE5FF;
    color: var(--color-primary);
}

.alert-danger{
    background: #F8D7DA;
    color: #8a2b34;
}